body {
    margin: 0;
    padding: 0;
}
header {
    
    opacity: 0.7;
}
.icon-images {
    width: 15px;
}
.home-image {
    position: absolute;
}
.categories-blog {
    border-radius: 10px;
}
.article-image {
  height: 100vh;
}
