<footer class="bg-gray-900 text-white py-16">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            <div class="lg:col-span-1">
                <div class="flex items-center space-x-3">
                    <div
                        class="w-10 h-10 flex items-center justify-center bg-primary rounded-lg transform hover:scale-110 transition-transform duration-300">
                        <i class="ri-home-4-fill text-white text-xl"></i>
                    </div>
                    <div>
                        <div class="font-['Pacifico'] text-2xl  text-white-800">Home Hub</div>
                        <div class="text-xs -mt-1 hidden sm:block text-white-500">Your Ultimate Home
                            Resource</div>
                    </div>
                </div>
                <p class="text-gray-300 mb-6 mt-4">Your ultimate destination for home improvement inspiration,
                    expert
                    tips, and beautiful design ideas.</p>
                <div class="flex space-x-4">
                    <a href="https://www.facebook.com/share/183UJYS6fC/"
                        class="w-10 h-10 flex items-center justify-center bg-gray-800 rounded-lg hover:bg-primary transition-colors">
                        <i class="ri-facebook-fill"></i>
                    </a>
                    <a href="mailto:homediscovering@gmail.com"
                        class="w-10 h-10 flex items-center justify-center bg-gray-800 rounded-lg hover:bg-primary transition-colors">
                        <img width="15px" src="/images/mail-icon.svg" alt="whatsapp icon">
                    </a>
                    <a href="https://www.instagram.com/homediscovering?igsh=MWtoNmx0cTl5YWFmOQ=="
                        class="w-10 h-10 flex items-center justify-center bg-gray-800 rounded-lg hover:bg-primary transition-colors">
                        <i class="ri-instagram-fill"></i>
                    </a>
                </div>
            </div>
            <div>
                <h3 class="text-lg font-semibold mb-4">Categories</h3>
                <ul class="space-y-2">
                    <li><a href="/home-improvement"
                            class="text-gray-300 hover:text-primary transition-all duration-300 transform hover:translate-x-2">Home
                            Improvement</a></li>
                    <li><a href="/gardening"
                            class="text-gray-300 hover:text-primary transition-all duration-300 transform hover:translate-x-2">Gardening</a>
                    </li>
                    <li><a href="/home-decor"
                            class="text-gray-300 hover:text-primary transition-all duration-300 transform hover:translate-x-2">Home
                            Decor</a></li>
                    <li><a href="/cleaning"
                            class="text-gray-300 hover:text-primary transition-all duration-300 transform hover:translate-x-2">Cleaning
                            and Organization</a></li>
                    <li><a href="/real-estate"
                            class="text-gray-300 hover:text-primary transition-all duration-300 transform hover:translate-x-2">Real
                            Estate</a></li>
                    <li><a href="/diy-projects"
                            class="text-gray-300 hover:text-primary transition-all duration-300 transform hover:translate-x-2">DIY
                            Projects</a></li>
                    <li><a href="/Blog"
                            class="text-gray-300 hover:text-primary transition-all duration-300 transform hover:translate-x-2">Blog</a>
                    </li>
                </ul>
            </div>

            <div>
                <h3 class="text-lg font-semibold mb-4">Company</h3>
                <ul class="space-y-2">
                    <li><a href="/about-us"
                            class="text-gray-300 hover:text-primary transition-all duration-300 transform hover:translate-x-2">About
                            Us</a></li>
                    <li><a href="/contact"
                            class="text-gray-300 hover:text-primary transition-all duration-300 transform hover:translate-x-2">Contact
                            Us</a></li>
                   
                    <li><a href="/privacy"
                            class="text-gray-300 hover:text-primary transition-all duration-300 transform hover:translate-x-2">Privacy
                            Policy</a></li>
                    <li><a href="/terms"
                            class="text-gray-300 hover:text-primary transition-all duration-300 transform hover:translate-x-2">Terms
                            of Service</a></li>
                </ul>
            </div>
        </div>
        <div class="border-t border-gray-800 mt-12 pt-8">
            <div class="flex flex-col md:flex-row justify-center items-center">
                <p class="text-gray-400 text-sm">© 2025 Home Discovering All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
