<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <title>Blog Home-Hub</title>
    <script src="https://cdn.tailwindcss.com/3.4.16"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        primary: '#14B8A6',
                        secondary: '#0F766E'
                    },
                    borderRadius: {
                        'none': '0px',
                        'sm': '4px',
                        DEFAULT: '8px',
                        'md': '12px',
                        'lg': '16px',
                        'xl': '20px',
                        '2xl': '24px',
                        '3xl': '32px',
                        'full': '9999px',
                        'button': '8px'
                    }
                }
            }
        }
    </script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">


</head>

<body class="bg-white">
    <%- include("partials/header") %>
        <section class="py-16 bg-gray-50">
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                <div class="text-center mb-12">
                    <h2 class="text-3xl font-bold text-gray-900 mb-4">Explore All Blogs</h2>
                    <p class="text-lg text-gray-600 max-w-2xl mx-auto">Browse through our curated collection of home
                        improvement ideas and inspiration</p>
                </div>
                <div id="blogContainer" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8">
                    <a href="/fix-leaky-faucet">
                        <div
                            class="filter-item blog-card bg-white categories-blog shadow-md overflow-hidden hover:shadow-xl transition-all duration-500 transform hover:-translate-y-2 hover:scale-105 group">

                            <div class="h-48 bg-cover bg-center"
                                style="background-image: url('/images/fix-a-leaky-faucet.webp')">
                            </div>

                            <div class="p-6">
                                <h3
                                    class="text-xl font-semibold text-gray-900 mb-2 group-hover:text-primary transition-colors duration-300">
                                    How to Fix a Leaky Faucet Without Calling a Plumber</h3>
                                <p class="text-gray-600 group-hover:text-gray-800 transition-colors duration-300">Learn
                                    how
                                    to fix a leaky faucet without calling a plumber using simple DIY steps.</p>
                            </div>
                        </div>
                    </a>
                    <a href="/seal-air-leak">
                        <div
                            class="filter-item blog-card bg-white categories-blog shadow-md overflow-hidden hover:shadow-xl transition-all duration-500 transform hover:-translate-y-2 hover:scale-105 group">

                            <div class="h-48 bg-cover bg-center"
                                style="background-image: url('/images/seal-air-leak.webp')">
                            </div>

                            <div class="p-6">
                                <h3
                                    class="text-xl font-semibold text-gray-900 mb-2 group-hover:text-primary transition-colors duration-300">
                                    How to Seal Air Leaks Around your Windows and Doors Easily</h3>
                                <p class="text-gray-600 group-hover:text-gray-800 transition-colors duration-300"> Learn
                                    how
                                    to seal air leaks around windows and doors easily. </p>
                            </div>
                        </div>
                    </a>
                    <a href="/budget-friendly-kitchen">
                        <div
                            class="filter-item blog-card bg-white categories-blog shadow-md overflow-hidden hover:shadow-xl transition-all duration-500 transform hover:-translate-y-2 hover:scale-105 group">

                            <div class="h-48 bg-cover bg-center"
                                style="background-image: url('/images/kitchen-remodel.webp')">
                            </div>

                            <div class="p-6">
                                <h3
                                    class="text-xl font-semibold text-gray-900 mb-2 group-hover:text-primary transition-colors duration-300">
                                    Budget-Friendly Kitchen Remodel Ideas That Feel Luxurious
                                </h3>
                                <p class="text-gray-600 group-hover:text-gray-800 transition-colors duration-300">
                                    Discover
                                    budget-friendly kitchen remodel ideas that look luxurious.</p>
                            </div>
                        </div>
                    </a>
                    <a href="/fire-safety">
                        <div
                            class="filter-item blog-card bg-white categories-blog shadow-md overflow-hidden hover:shadow-xl transition-all duration-500 transform hover:-translate-y-2 hover:scale-105 group">

                            <div class="h-48 bg-cover bg-center"
                                style="background-image: url('/images/fire-safety-tips.webp')">
                            </div>

                            <div class="p-6">
                                <h3
                                    class="text-xl font-semibold text-gray-900 mb-2 group-hover:text-primary transition-colors duration-300">
                                    Essential Fire Safety Tips Every Homeowner Should Always Know</h3>
                                <p class="text-gray-600 group-hover:text-gray-800 transition-colors duration-300">Learn
                                    essential fire safety tips every homeowner should protect his family
                                </p>
                            </div>
                        </div>
                    </a>
                    <a href="/weekend-home-project">
                        <div
                            class="filter-item blog-card bg-white categories-blog shadow-md overflow-hidden hover:shadow-xl transition-all duration-500 transform hover:-translate-y-2 hover:scale-105 group">

                            <div class="h-48 bg-cover bg-center"
                                style="background-image: url('/images/weakend-home-projects.webp')">
                            </div>

                            <div class="p-6">
                                <h3
                                    class="text-xl font-semibold text-gray-900 mb-2 group-hover:text-primary transition-colors duration-300">
                                    Weekend Home Projects That Instantly Improve Property Value
                                </h3>
                                <p class="text-gray-600 group-hover:text-gray-800 transition-colors duration-300">
                                    Explore
                                    easy weekend home projects that instantly improve property value.</p>
                            </div>
                        </div>
                    </a>
                    <a href="/repair-dry-wall">
                        <div
                            class="filter-item blog-card bg-white categories-blog shadow-md overflow-hidden hover:shadow-xl transition-all duration-500 transform hover:-translate-y-2 hover:scale-105 group">

                            <div class="h-48 bg-cover bg-center"
                                style="background-image: url('/images/repair-dry-wall.webp')">
                            </div>

                            <div class="p-6">
                                <h3
                                    class="text-xl font-semibold text-gray-900 mb-2 group-hover:text-primary transition-colors duration-300">
                                    How to Repair Drywall Cracks: A Simple Step-by-Step Guide</h3>
                                <p class="text-gray-600 group-hover:text-gray-800 transition-colors duration-300">Learn
                                    how
                                    to repair drywall cracks with this simple step-by-step guide.</p>
                            </div>
                        </div>
                    </a>
                    <a href="/ultimate-house-cleaning">
                        <div
                            class="filter-item blog-card bg-white categories-blog shadow-md overflow-hidden hover:shadow-xl transition-all duration-500 transform hover:-translate-y-2 hover:scale-105 group">

                            <div class="h-48 bg-cover bg-center"
                                style="background-image: url('/images/housecleaning-schedule.webp')">
                            </div>

                            <div class="p-6">
                                <h3
                                    class="text-xl font-semibold text-gray-900 mb-2 group-hover:text-primary transition-colors duration-300">
                                    The Ultimate House Cleaning Schedule for Busy People</h3>
                                <p class="text-gray-600 group-hover:text-gray-800 transition-colors duration-300">For
                                    many people, keeping a clean home can seem like an overwhelming task.</p>
                            </div>
                        </div>
                    </a>
                    <a href="/clean-bathroom">
                        <div
                            class="filter-item blog-card bg-white categories-blog shadow-md overflow-hidden hover:shadow-xl transition-all duration-500 transform hover:-translate-y-2 hover:scale-105 group">

                            <div class="h-48 bg-cover bg-center"
                                style="background-image: url('/images/clean-a-bathroom.webp')">
                            </div>

                            <div class="p-6">
                                <h3
                                    class="text-xl font-semibold text-gray-900 mb-2 group-hover:text-primary transition-colors duration-300">
                                    How to Clean a Bathroom from Top to Bottom</h3>
                                <p class="text-gray-600 group-hover:text-gray-800 transition-colors duration-300">
                                    Discover
                                    small bedroom decor ideas that actually work—maximize space, add style.</p>
                            </div>
                        </div>
                    </a>
                    <a href="/homemade-cleaning-products">
                        <div
                            class="filter-item blog-card bg-white categories-blog shadow-md overflow-hidden hover:shadow-xl transition-all duration-500 transform hover:-translate-y-2 hover:scale-105 group">

                            <div class="h-48 bg-cover bg-center"
                                style="background-image: url('/images/homemade-cleaning-products.webp')">
                            </div>

                            <div class="p-6">
                                <h3
                                    class="text-xl font-semibold text-gray-900 mb-2 group-hover:text-primary transition-colors duration-300">
                                    Homemade Cleaning Products You Can Make Today</h3>
                                <p class="text-gray-600 group-hover:text-gray-800 transition-colors duration-300">
                                    Cleaning your home doesn’t have to mean exposing yourself and your family to harsh
                                    chemicals.</p>
                            </div>
                        </div>
                    </a>
                    <a href="/declutter-your-home-room">
                        <div
                            class="filter-item blog-card bg-white categories-blog shadow-md overflow-hidden hover:shadow-xl transition-all duration-500 transform hover:-translate-y-2 hover:scale-105 group">

                            <div class="h-48 bg-cover bg-center"
                                style="background-image: url('/images/declutter-home.webp')">
                            </div>

                            <div class="p-6">
                                <h3
                                    class="text-xl font-semibold text-gray-900 mb-2 group-hover:text-primary transition-colors duration-300">
                                    How to Declutter Your Home Room by Room</h3>
                                <p class="text-gray-600 group-hover:text-gray-800 transition-colors duration-300">
                                    Clutter can accumulate over time, making your home feel chaotic and overwhelming.
                                </p>
                            </div>
                        </div>
                    </a>
                    <a href="/weekly-cleaning-room">
                        <div
                            class="filter-item blog-card bg-white categories-blog shadow-md overflow-hidden hover:shadow-xl transition-all duration-500 transform hover:-translate-y-2 hover:scale-105 group">

                            <div class="h-48 bg-cover bg-center"
                                style="background-image: url('/images/weekly-cleaning-routine.webp')">
                            </div>

                            <div class="p-6">
                                <h3
                                    class="text-xl font-semibold text-gray-900 mb-2 group-hover:text-primary transition-colors duration-300">
                                    How to Create a Weekly Cleaning Routine That Sticks</h3>
                                <p class="text-gray-600 group-hover:text-gray-800 transition-colors duration-300"> A
                                    clean home is essential for creating a relaxing and organized living space</p>
                            </div>
                        </div>
                    </a>
                    <a href="/storage-small-kitchen">
                        <div
                            class="filter-item blog-card bg-white categories-blog shadow-md overflow-hidden hover:shadow-xl transition-all duration-500 transform hover:-translate-y-2 hover:scale-105 group">

                            <div class="h-48 bg-cover bg-center"
                                style="background-image: url('/images/storage-in-small-kitchen.webp')">
                            </div>

                            <div class="p-6">
                                <h3
                                    class="text-xl font-semibold text-gray-900 mb-2 group-hover:text-primary transition-colors duration-300">
                                    How to Maximize Storage in a Small Kitchen</h3>
                                <p class="text-gray-600 group-hover:text-gray-800 transition-colors duration-300">
                                    Discover
                                    how to find your interior design style with these expert tips. </p>
                            </div>
                        </div>
                    </a>
                    <a href="/10-easy-diy-projects">
                        <div
                            class="filter-item blog-card bg-white categories-blog shadow-md overflow-hidden hover:shadow-xl transition-all duration-500 transform hover:-translate-y-2 hover:scale-105 group">

                            <div class="h-48 bg-cover bg-center"
                                style="background-image: url('/images/10-easy-diy-projects.webp')">
                            </div>

                            <div class="p-6">
                                <h3
                                    class="text-xl font-semibold text-gray-900 mb-2 group-hover:text-primary transition-colors duration-300">
                                    10 Easy DIY Projects to Upgrade Your Home on a Budget</h3>
                                <p class="text-gray-600 group-hover:text-gray-800 transition-colors duration-300">
                                    Upgrading your home doesn't have to mean spending a fortune on renovations or hiring
                                    expensive contractors</p>
                            </div>
                        </div>
                    </a>
                    <a href="/beginning-wood-working">
                        <div
                            class="filter-item blog-card bg-white categories-blog shadow-md overflow-hidden hover:shadow-xl transition-all duration-500 transform hover:-translate-y-2 hover:scale-105 group">

                            <div class="h-48 bg-cover bg-center"
                                style="background-image: url('/images/beginner-woodworking-projects.webp')">
                            </div>

                            <div class="p-6">
                                <h3
                                    class="text-xl font-semibold text-gray-900 mb-2 group-hover:text-primary transition-colors duration-300">
                                    Beginner Woodworking Projects Anyone Can Try</h3>
                                <p class="text-gray-600 group-hover:text-gray-800 transition-colors duration-300">
                                    Woodworking is a rewarding hobby that allows you to create functional and beautiful
                                    items while learning new skills.</p>
                            </div>
                        </div>
                    </a>
                    <a href="/raised-bed-garden">
                        <div
                            class="filter-item blog-card bg-white categories-blog shadow-md overflow-hidden hover:shadow-xl transition-all duration-500 transform hover:-translate-y-2 hover:scale-105 group">

                            <div class="h-48 bg-cover bg-center"
                                style="background-image: url('/images/raised-garden-bed.webp')">
                            </div>

                            <div class="p-6">
                                <h3
                                    class="text-xl font-semibold text-gray-900 mb-2 group-hover:text-primary transition-colors duration-300">
                                    How to Build a Raised Garden Bed Yourself</h3>
                                <p class="text-gray-600 group-hover:text-gray-800 transition-colors duration-300">
                                    Raised garden beds are an excellent way to grow plants in a controlled, accessible
                                    space </p>
                            </div>
                        </div>
                    </a>
                    <a href="/diy-wall-art-ideas">
                        <div
                            class="filter-item blog-card bg-white categories-blog shadow-md overflow-hidden hover:shadow-xl transition-all duration-500 transform hover:-translate-y-2 hover:scale-105 group">

                            <div class="h-48 bg-cover bg-center"
                                style="background-image: url('/images/diy-article-wall-art-ideas.webp')">
                            </div>

                            <div class="p-6">
                                <h3
                                    class="text-xl font-semibold text-gray-900 mb-2 group-hover:text-primary transition-colors duration-300">
                                    DIY Wall Art Ideas That Look Professionally Made</h3>
                                <p class="text-gray-600 group-hover:text-gray-800 transition-colors duration-300">
                                    Revitalize
                                    your home with easy spring home decor updates.</p>
                            </div>
                        </div>
                    </a>
                    <a href="/old-furniture">
                        <div
                            class="filter-item blog-card bg-white categories-blog shadow-md overflow-hidden hover:shadow-xl transition-all duration-500 transform hover:-translate-y-2 hover:scale-105 group">

                            <div class="h-48 bg-cover bg-center"
                                style="background-image: url('/images/repurpose-old-furniture.webp')">
                            </div>

                            <div class="p-6">
                                <h3
                                    class="text-xl font-semibold text-gray-900 mb-2 group-hover:text-primary transition-colors duration-300">
                                    How to Repurpose Old Furniture into Something New</h3>
                                <p class="text-gray-600 group-hover:text-gray-800 transition-colors duration-300">
                                    Transform
                                    your walls with DIY wall art ideas that look professionally made.</p>
                            </div>
                        </div>
                    </a>
                    <a href="/christmas-ornaments">
                        <div
                            class="filter-item blog-card bg-white categories-blog shadow-md overflow-hidden hover:shadow-xl transition-all duration-500 transform hover:-translate-y-2 hover:scale-105 group">

                            <div class="h-48 bg-cover bg-center"
                                style="background-image: url('/images/your-own-christmas-ornaments.webp')">
                            </div>

                            <div class="p-6">
                                <h3
                                    class="text-xl font-semibold text-gray-900 mb-2 group-hover:text-primary transition-colors duration-300">
                                    How to Make Your Own Christmas Ornaments</h3>
                                <p class="text-gray-600 group-hover:text-gray-800 transition-colors duration-300">
                                    Christmas ornaments are more than just decorations—they’re a way to express your
                                    personal style and create lasting memories.</p>
                            </div>
                        </div>
                    </a>
                    <a href="/first-home-garden">
                        <div
                            class="filter-item blog-card bg-white categories-blog shadow-md overflow-hidden hover:shadow-xl transition-all duration-500 transform hover:-translate-y-2 hover:scale-105 group">

                            <div class="h-48 bg-cover bg-center"
                                style="background-image: url('/images/first-home-garden.webp')">
                            </div>

                            <div class="p-6">
                                <h3
                                    class="text-xl font-semibold text-gray-900 mb-2 group-hover:text-primary transition-colors duration-300">
                                    Gardening for Beginners: How to Start Your First Home Garden</h3>
                                <p class="text-gray-600 group-hover:text-gray-800 transition-colors duration-300">Learn
                                    how
                                    to start your first home garden with these easy gardening tips for beginners.</p>
                            </div>
                        </div>
                    </a>
                    <a href="/indoor-plant-alive">
                        <div
                            class="filter-item blog-card bg-white categories-blog shadow-md overflow-hidden hover:shadow-xl transition-all duration-500 transform hover:-translate-y-2 hover:scale-105 group">

                            <div class="h-48 bg-cover bg-center"
                                style="background-image: url('/images/indoor-plants-alive.webp')">
                            </div>

                            <div class="p-6">
                                <h3
                                    class="text-xl font-semibold text-gray-900 mb-2 group-hover:text-primary transition-colors duration-300">
                                    How to Keep Indoor Plants Alive and Thriving</h3>
                                <p class="text-gray-600 group-hover:text-gray-800 transition-colors duration-300"> Learn
                                    how
                                    to keep indoor plants alive and thriving with these expert tips.</p>
                            </div>
                        </div>
                    </a>
                    <a href="/small-garden">
                        <div
                            class="filter-item blog-card bg-white categories-blog shadow-md overflow-hidden hover:shadow-xl transition-all duration-500 transform hover:-translate-y-2 hover:scale-105 group">

                            <div class="h-48 bg-cover bg-center"
                                style="background-image: url('/images/small-garden-ideas.webp')">
                            </div>

                            <div class="p-6">
                                <h3
                                    class="text-xl font-semibold text-gray-900 mb-2 group-hover:text-primary transition-colors duration-300">
                                    Small Garden Ideas for Limited Outdoor Space
                                </h3>
                                <p class="text-gray-600 group-hover:text-gray-800 transition-colors duration-300">
                                    Explore
                                    creative and practical small garden ideas for limited outdoor space.</p>
                            </div>
                        </div>
                    </a>
                    <a href="/spring-gardening">
                        <div
                            class="filter-item blog-card bg-white categories-blog shadow-md overflow-hidden hover:shadow-xl transition-all duration-500 transform hover:-translate-y-2 hover:scale-105 group">

                            <div class="h-48 bg-cover bg-center"
                                style="background-image: url('/images/spring-gardening-tips.webp')">
                            </div>

                            <div class="p-6">
                                <h3
                                    class="text-xl font-semibold text-gray-900 mb-2 group-hover:text-primary transition-colors duration-300">
                                    Spring Gardening Tips for a Healthy Start</h3>
                                <p class="text-gray-600 group-hover:text-gray-800 transition-colors duration-300">Get
                                    your
                                    garden off to a healthy start with these essential spring gardening tips.</p>
                            </div>
                        </div>
                    </a>
                    <a href="/control-garden">
                        <div
                            class="filter-item blog-card bg-white categories-blog shadow-md overflow-hidden hover:shadow-xl transition-all duration-500 transform hover:-translate-y-2 hover:scale-105 group">

                            <div class="h-48 bg-cover bg-center"
                                style="background-image: url('/images/control-garden-pets.webp')">
                            </div>

                            <div class="p-6">
                                <h3
                                    class="text-xl font-semibold text-gray-900 mb-2 group-hover:text-primary transition-colors duration-300">
                                    How to Control Garden Pests Naturally</h3>
                                <p class="text-gray-600 group-hover:text-gray-800 transition-colors duration-300"> Learn
                                    how
                                    to control garden pests naturally with effective, eco-friendly methods.</p>
                            </div>
                        </div>
                    </a>
                    <a href="/herb-garden">
                        <div
                            class="filter-item blog-card bg-white categories-blog shadow-md overflow-hidden hover:shadow-xl transition-all duration-500 transform hover:-translate-y-2 hover:scale-105 group">

                            <div class="h-48 bg-cover bg-center"
                                style="background-image: url('/images/herb-garden-in-kitchen.webp')">
                            </div>

                            <div class="p-6">
                                <h3
                                    class="text-xl font-semibold text-gray-900 mb-2 group-hover:text-primary transition-colors duration-300">
                                    How to Create an Herb Garden in Your Kitchen
                                </h3>
                                <p class="text-gray-600 group-hover:text-gray-800 transition-colors duration-300">Learn
                                    how
                                    to create an herb garden in your kitchen with these easy tips.</p>
                            </div>
                        </div>
                    </a>
                    <a href="/small-living-room">
                        <div
                            class="filter-item blog-card bg-white categories-blog shadow-md overflow-hidden hover:shadow-xl transition-all duration-500 transform hover:-translate-y-2 hover:scale-105 group">

                            <div class="h-48 bg-cover bg-center"
                                style="background-image: url('/images/small-living-room.webp')">
                            </div>

                            <div class="p-6">
                                <h3
                                    class="text-xl font-semibold text-gray-900 mb-2 group-hover:text-primary transition-colors duration-300">
                                    How to Make a Small Living Room Look Bigger and Brighter</h3>
                                <p class="text-gray-600 group-hover:text-gray-800 transition-colors duration-300">
                                    Discover
                                    expert ways to make a small living room look bigger and brighter.</p>
                            </div>
                        </div>
                    </a>
                    <a href="/small-bedroom-decor">
                        <div
                            class="filter-item blog-card bg-white categories-blog shadow-md overflow-hidden hover:shadow-xl transition-all duration-500 transform hover:-translate-y-2 hover:scale-105 group">

                            <div class="h-48 bg-cover bg-center"
                                style="background-image: url('/images/bedroom-decor.webp')">
                            </div>

                            <div class="p-6">
                                <h3
                                    class="text-xl font-semibold text-gray-900 mb-2 group-hover:text-primary transition-colors duration-300">
                                    Small Bedroom Decor Ideas That Actually Work in your home</h3>
                                <p class="text-gray-600 group-hover:text-gray-800 transition-colors duration-300">
                                    Discover
                                    small bedroom decor ideas that actually work—maximize space, add style.</p>
                            </div>
                        </div>
                    </a>
                    <a href="/decorate-small-kitchen">
                        <div
                            class="filter-item blog-card bg-white categories-blog shadow-md overflow-hidden hover:shadow-xl transition-all duration-500 transform hover:-translate-y-2 hover:scale-105 group">

                            <div class="h-48 bg-cover bg-center"
                                style="background-image: url('/images/decorate-a-small-kitchen.webp')">
                            </div>

                            <div class="p-6">
                                <h3
                                    class="text-xl font-semibold text-gray-900 mb-2 group-hover:text-primary transition-colors duration-300">
                                    How to Decorate a Small Kitchen Without Losing Space</h3>
                                <p class="text-gray-600 group-hover:text-gray-800 transition-colors duration-300">
                                    Maximize
                                    space in your kitchen while maintaining a stylish and functional design. </p>
                            </div>
                        </div>
                    </a>
                    <a href="/easy-spring-home">
                        <div
                            class="filter-item blog-card bg-white categories-blog shadow-md overflow-hidden hover:shadow-xl transition-all duration-500 transform hover:-translate-y-2 hover:scale-105 group">

                            <div class="h-48 bg-cover bg-center"
                                style="background-image: url('/images/spring-home-decor.webp')">
                            </div>

                            <div class="p-6">
                                <h3
                                    class="text-xl font-semibold text-gray-900 mb-2 group-hover:text-primary transition-colors duration-300">
                                    Easy Spring Home Decor Updates for a Fresh Look</h3>
                                <p class="text-gray-600 group-hover:text-gray-800 transition-colors duration-300">
                                    Revitalize
                                    your home with easy spring home decor updates.</p>
                            </div>
                        </div>
                    </a>
                    <a href="/diy-wall-art">
                        <div
                            class="filter-item blog-card bg-white categories-blog shadow-md overflow-hidden hover:shadow-xl transition-all duration-500 transform hover:-translate-y-2 hover:scale-105 group">

                            <div class="h-48 bg-cover bg-center"
                                style="background-image: url('/images/diy-wall-art-ideas.webp')">
                            </div>

                            <div class="p-6">
                                <h3
                                    class="text-xl font-semibold text-gray-900 mb-2 group-hover:text-primary transition-colors duration-300">
                                    DIY Wall Art Ideas That Look Professionally Made</h3>
                                <p class="text-gray-600 group-hover:text-gray-800 transition-colors duration-300">
                                    Transform
                                    your walls with DIY wall art ideas that look professionally made.</p>
                            </div>
                        </div>
                    </a>
                    <a href="/interior-design-style">
                        <div
                            class="filter-item blog-card bg-white categories-blog shadow-md overflow-hidden hover:shadow-xl transition-all duration-500 transform hover:-translate-y-2 hover:scale-105 group">

                            <div class="h-48 bg-cover bg-center"
                                style="background-image: url('/images/interior-design-style.webp')">
                            </div>

                            <div class="p-6">
                                <h3
                                    class="text-xl font-semibold text-gray-900 mb-2 group-hover:text-primary transition-colors duration-300">
                                    How to Find Your Interior Design Style</h3>
                                <p class="text-gray-600 group-hover:text-gray-800 transition-colors duration-300">
                                    Discover
                                    how to find your interior design style with these expert tips. </p>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </section>
        <%- include("partials/footer") %>
            <script src="/js/script.js"></script>
</body>

</html>