body {
    margin: 0;
    padding: 0;
       #message { margin-top: 15px; font-weight: bold;}
        .success { color: green; }
        .error { color: red; }
}
header {
    
    opacity: 0.7;
}
.icon-images {
    width: 15px;
}
.home-image {
    position: absolute;
}
.categories-blog {
    border-radius: 10px;
}
.article-image {
  height: 80%;
}

:where([class^="ri-"])::before {
    content: "\f3c2";
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in-up {
    animation: fadeInUp 1s ease-out;
}

.animate-fade-in-up-delay {
    animation: fadeInUp 1s ease-out 0.3s both;
}

.animate-fade-in-up-delay-2 {
    animation: fadeInUp 1s ease-out 0.6s both;
}

@keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}

.animate-pulse {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.group:hover .group-hover\:text-primary {
    color: #14B8A6;
}

.group:hover .group-hover\:text-gray-800 {
    color: #1f2937;
}
.mobile-menu {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: white;
}

@media (max-width: 768px) {
    .hero-text {
        font-size: 2rem;
        line-height: 1.2;
        .blog-card {
            flex: 0 0 100%; /* Mobile par poori width le lo */
        }
    }
}
